<mat-progress-bar [mode]="loading? 'indeterminate':'Determinate'" class="dialog-progress-bar" color="Primary">
</mat-progress-bar>
<span mat-dialog-title style="text-align:center">
  {{l("ChangePassword")}}
</span>
<mat-dialog-content class="dialog-content">
  <form id="ngForm" #changePasswordForm="ngForm" class="form-container" novalidate (ngSubmit)="save(changePasswordForm)">
    <mat-form-field class="full-width form-field">
      <input matInput required type="password" ngModel name="currentPassword" placeholder="{{l('CurrentPassword')}}">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput ngModel name="newPassword" type="password" required #newPassword="ngModel" placeholder="{{l('NewPassword')}}"
        validateEqual="newPasswordRepeat" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
        [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
        [requiredLength]="passwordComplexitySetting.requiredLength" reverse="true">
      <mat-error *ngIf="newPassword.errors && newPassword.errors.requireDigit">
        {{l("PasswordComplexity_RequireDigit_Hint")}}
      </mat-error>
      <mat-error *ngIf="newPassword.errors && newPassword.errors.requireLowercase">
        {{l("PasswordComplexity_RequireLowercase_Hint")}}
      </mat-error>
      <mat-error *ngIf="newPassword.errors && newPassword.errors.requireUppercase">
        {{l("PasswordComplexity_RequireUppercase_Hint")}}
      </mat-error>
      <mat-error *ngIf="newPassword.errors && newPassword.errors.requireNonAlphanumeric">
        {{l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}
      </mat-error>
      <mat-error *ngIf="newPassword.errors && newPassword.errors.requiredLength">
        {{l("PasswordComplexity_RequiredLength_Hint", passwordComplexitySetting.requiredLength)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width form-field">
      <input matInput ngModel name="newPasswordRepeat" type="password" required #newPasswordRepeat="ngModel" placeholder="{{l('NewPasswordRepeat')}}"
        validateEqual="newPassword" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
        [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
        [requiredLength]="passwordComplexitySetting.requiredLength" reverse="false">
      <mat-error *ngIf="newPasswordRepeat.errors && newPasswordRepeat.errors.requireDigit">
        {{l("PasswordComplexity_RequireDigit_Hint")}}
      </mat-error>
      <mat-error *ngIf="newPasswordRepeat.errors && newPasswordRepeat.errors.requireLowercase">
        {{l("PasswordComplexity_RequireLowercase_Hint")}}
      </mat-error>
      <mat-error *ngIf="newPasswordRepeat.errors && newPasswordRepeat.errors.requireUppercase">
        {{l("PasswordComplexity_RequireUppercase_Hint")}}
      </mat-error>
      <mat-error *ngIf="newPasswordRepeat.errors && newPasswordRepeat.errors.requireNonAlphanumeric">
        {{l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}
      </mat-error>
      <mat-error *ngIf="newPasswordRepeat.errors && newPasswordRepeat.errors.requiredLength">
        {{l("PasswordComplexity_RequiredLength_Hint", passwordComplexitySetting.requiredLength)}}
      </mat-error>
      <mat-error *ngIf="newPasswordRepeat.errors && !newPasswordRepeat.errors.validateEqual">
        {{l("PasswordComplexity_ValidationEqual_Hint")}}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button [disabled]="loading" color="accent" mat-dialog-close>{{l('Cancel')}}</button>
  <button type="submit" mat-raised-button [disabled]="loading" color="accent" form="ngForm">{{l('Save')}}</button>
</mat-dialog-actions>
