<form [formGroup]="roleGroup" novalidate (ngSubmit)="save()">
  <mat-tab-group dynamicHeight="true">
    <mat-tab>
      <ng-template mat-tab-label>
        <label>
          {{l('RoleProperties')}}
        </label>
      </ng-template>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
        <mat-progress-bar [mode]="saving? 'indeterminate':'Determinate'" class="custom-progress-bar" color="Primary">
        </mat-progress-bar>
        <mat-form-field class="full-width form-field">
          <input required matInput formControlName="displayName" placeholder="{{l('RoleName')}}">
          <mat-error *ngIf="roleGroup.hasError('required','displayName')">
            displayNameIsRequired
          </mat-error>
        </mat-form-field>
        <mat-checkbox style="margin-left:17px" formControlName="isDefault">
          {{l("Default")}}
        </mat-checkbox>
        <mat-chip-list>
        </mat-chip-list>
        <mat-chip style="margin-left:10px" color="primary" selected="true">
          {{l("DefaultRole_Description")}}
        </mat-chip>
        <span fxFill></span>
        <mat-chip style="margin-top:20px" color="accent" selected="true">
          {{l('Note_RefreshPageForPermissionChanges')}}
        </mat-chip>
        <span fxFill></span>
        <div style="margin-top:10px" fxFlex fxLayoutAlign="end center">
          <button mat-raised-button color="primary" [disabled]="saving">{{l('Save')}}</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{l('Permissions')}}">
      <mat-progress-bar [mode]="saving? 'indeterminate':'Determinate'" class="custom-progress-bar" color="Primary">
      </mat-progress-bar>
      <app-permission-tree #permissionTree></app-permission-tree>
    </mat-tab>
  </mat-tab-group>
</form>
