.linked-accounts-dialog-header{
  margin:0px;
  padding:7px 0 7px 0;
}

.linked-account-action-button.mat-button{
  text-align: left;
  padding: 0 7px;
}

.linked-account-actions-width{
  flex: 0 0 auto !important;
  width: 88px !important;
}
