<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="icon-card-header">assignment_ind</mat-icon>
    </div>
    <mat-card-title>{{l("Roles")}}</mat-card-title>
    <mat-card-subtitle>{{l("RolesHeaderInfo")}}</mat-card-subtitle>
  </mat-card-header>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <div fxLayoutAlign="center center" fxFill (click)="tabClick($event)">RoleList</div>
      </ng-template>
      <div class="table-container">
        <!-- <hr class="hr-class"> -->
        <div class="loading-shade" *ngIf="dataSource.isLoadingResults">
          <!-- <mat-spinner></mat-spinner> -->
          <mat-progress-spinner *ngIf="dataSource.isLoadingResults" mode="indeterminate" diameter="70"></mat-progress-spinner>
        </div>
        <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="actions-width">
              <!-- {{l('Actions')}} -->
              <button color="primary" mat-icon-button>
                <mat-icon>face</mat-icon>
              </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class="actions-width">
              <button color="accent" mat-icon-button [matMenuTriggerFor]="editMenu">
                <mat-icon>settings</mat-icon>
              </button>
              <mat-menu #editMenu="matMenu">
                <button mat-menu-item (click)="openEditTabs(row.id)">{{l('Edit')}}</button>
                <button *ngIf="row.id!==1" mat-menu-item (click)="deleteRole(row)">{{l('Delete')}}</button>
              </mat-menu>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="displayName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{l('RoleName')}}</mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{row.displayName}}
              <mat-chip *ngIf="row.id==1" color="accent" selected="true">{{l('Static')}}
              </mat-chip>
              <mat-chip *ngIf="row.isDefault" color="accent" selected="true">{{l('Default')}}
              </mat-chip>
              <mat-chip-list>
              </mat-chip-list>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="creationTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{l('CreationTime')}}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.creationTime | momentFormat:'L'}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="{{l('EditRole')}}/{{l('CreateNewRole')}}" disabled>
      <app-create-or-edit-role [roleForEditOutput]="roleForEditOutput">
      </app-create-or-edit-role>
    </mat-tab>
    <!-- <mat-tab>
      <ng-template mat-tab-label>
        The
        <em>best</em> pasta
      </ng-template>
      <h1>Best pasta restaurants</h1>
      <p>...</p>
    </mat-tab> -->
  </mat-tab-group>
  <button class="create-role-button" mat-fab color="primary" (click)="openCreateTabs()">
    <mat-icon>exposure_plus_1</mat-icon>
  </button>
</mat-card>
